/* Boogaloo font */
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

:root {
    /* Library Colors */
    --rosyBrown100: hsl(1, 24%, 64%);
    --rosyBrown80: hsl(1, 24%, 64%);
    --rosyBrown60: hsl(1, 24%, 64%);
    --blueGray100: hsl(210, 37%, 61%);
    --blueGray80: hsl(210, 37%, 61%);
    --blueGray60: hsl(210, 37%, 61%);
    --arylideYellow100: hsl(49, 74%, 62%);
    --arylideYellow80: hsl(49, 74%, 62%);
    --arylideYellow60: hsl(49, 74%, 62%);
    --asparagus100: hsl(108, 18%, 49%);
    --asparagus80: hsl(108, 18%, 49%);
    --asparagus60: hsl(108, 18%, 49%);
    --indianRed100: hsl(354, 33%, 55%);
    --indianRed80: hsl(354, 33%, 55%);
    --indianRed60: hsl(354, 33%, 55%);
    --caramel100: hsl(26, 61%, 54%);
    --caramel80: hsl(26, 61%, 54%);
    --caramel60: hsl(26, 61%, 54%);
    --calPolyGreen100: hsl(132, 24%, 23%);
    --calPolyGreen80: hsl(132, 24%, 23%);
    --calPolyGreen60: hsl(132, 24%, 23%);
    /* Normal Colors */
    --offWhite: hsl(0, 0%, 94%);
    --pureWhite: hsl(0, 0%, 100%);
    --pureBlack: hsl(0, 0%, 0%);


    --_ClassAColor: var(--indianRed100);
    --_ClassBColor: var(--blueGray100);

}

/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Site-wide styles */
body {
    height: 100dvh;
    background-color: var(--asparagus100);
}

/* Home Page Styles */
.home-screen {
    width: 100vw;
    height: 100dvh;
    display: grid;
    grid-template-areas: "title-bar" "sign-container";
    grid-template-rows: minmax(auto, 30%) 1fr;
    overflow-x: clip;
    overflow: hidden;


    @media screen and (min-width: 600px) {
        grid-template-areas: "Left-tree title-bar Right-tree" "Left-tree sign-container Right-tree";

        grid-template-columns: minmax(0, 1fr) 1fr minmax(0, 1fr);
    }
}



.title-bar {
    grid-area: title-bar;
    display: grid;
    place-self: center;

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        max-width: 375px;
        padding-inline: 1.25rem;
        transform: rotate(-1.72deg);
        filter: drop-shadow(1px 2px 3px hsla(0, 0%, 0%, 0.75));
    }
}

.sign-container {
    position: relative;
    max-width: 100vw;
    grid-area: sign-container;
    place-self: end center;


    .signpost {
        width: 100%;
        max-width: 98vw;
        height: auto;
        filter: drop-shadow(3px 2px 4px hsla(0, 0%, 0%, 0.25));
    }

    >ul {
        >li {
            /* reset styling of li */
            list-style: none;
            width: 100%;
            height: 100%;
        }
    }

    .sign-buttons {
        position: absolute;
        color: var(--caramel100);
        text-align: center;
        line-height: normal;
        min-width: 100%;
        text-decoration: none;
        font-size: 50px;
        font-family: SunnySpells;
        text-shadow: 2px 3px 3px hsla(0, 0%, 0%, 0.5);
    }

    #button1 {
        top: 7%;
        transform: rotate(6.3deg);
    }

    #button2 {
        top: 21%;
        transform: rotate(-1.6deg);
    }

    #button3 {
        top: 36.5%;
        transform: rotate(6.3deg);
    }

    #button4 {
        top: 52%;
        transform: rotate(0.4deg);
    }

    .bush1,
    .bush2 {
        position: absolute;
        bottom: 0;
        height: auto;
        transform: translate(-25%, 0%);
        filter: drop-shadow(3px 0 4px hsla(0, 0%, 0%, 0.25));
    }

    .bush1 {
        z-index: -1;
    }

    .bush2 {
        z-index: 1;
        translate: 5% 0%;
    }
}

.cal-ivy-logo {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 240px;
    height: auto;
    z-index: 1;
}

/* fit the trees to the sides of the screen. Left should stick to the right side of its box, right should stick to the left side of its box */
.tree-left,
.tree-right {
    overflow: clip;
    height: 100%;
    z-index: -1;
    justify-self: center;
    translate: 0% 8%;
    filter: drop-shadow(3px 2px 4px hsla(0, 0%, 0%, 0.25));

    @media screen and (max-width: 600px) {
        display: none;
    }

}

.tree-left {
    grid-area: Left-tree;
}

.tree-right {
    grid-area: Right-tree;
    z-index: -2;
}

/* Events Page */
.events-header {
    position: relative;
    max-width: 100vw;
    overflow: clip;



    >img {
        filter: drop-shadow(3px 2px 4px hsla(0, 0%, 0%, 0.25));
        width: 100%;
    }
}

.events-intro-container {
    display: grid;
    place-content: center;
    margin: 2em;
    padding: 0.5em;
    border-radius: 10px;
    transform: rotate(1deg);
    background-color: var(--arylideYellow100);
    box-shadow: 3px 2px 4px hsla(0, 0%, 0%, 0.25);

    >h2 {
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        margin-bottom: 0.3rem;
        font: 24px SunnySpells, sans-serif;
    }

    .classLine {
        display: inline-flex;
        align-items: center;
        justify-content: start;
        gap: 1em;
        font: 17px Boogaloo, sans-serif;
    }

    .classColorBox {
        width: 12px;
        aspect-ratio: 1;
        border-radius: 30%;

        &.Abox {
            background-color: var(--_ClassAColor);
        }

        &.Bbox {
            background-color: var(--_ClassBColor);
        }
    }
}

.event-list-container {
    display: grid;
    margin: 0.75em;

    .event-card {
        display: grid;
        grid-template-columns: 20% 80%;
        font: 16px Boogaloo, sans-serif;
        color: var(--offWhite);
        padding-inline: 0.5em;
        padding-block: 0.25em;
        border-bottom: 2px solid hsla(0, 0%, 11%, 0.15);
        min-height: 140px;

        &.classA {
            background-color: var(--_ClassAColor);
        }

        &.classB {
            background-color: var(--_ClassBColor);
        }

        &:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

.event-date-container {
    place-self: center;
    display: grid;
    font: 14px Boogaloo, sans-serif;
    grid-template-rows: 10% 80% 10%;
    height: fit-content;
    text-align: center;
    text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);



    .event-day-number {
        font-size: 42px;
        letter-spacing: initial;
    }
}

.event-info {
    display: grid;
    grid-template-rows: min-content max-content;
    justify-content: space-between;
}

.event-top {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-inline: 0.6em 2em;
    font-size: 14px;

    .location-container {

        >p {
            text-indent: 0.3em;
            margin-bottom: 0.15rem;
        }

        >h3 {
            font: inherit;

            >a {
                display: inline-flex;
                color: currentColor;
                text-decoration: dashed underline;
                text-decoration-thickness: 1px;

                >.map-symbol {
                    text-decoration: none;
                }
            }
        }

        >p:last-child {
            margin-top: 0.3em;
            font-size: 12px;
            letter-spacing: 0.05em;
        }
    }

    .event-fee-container {
        text-align: center;

        >.optional-text {
            font-size: 11px;
            letter-spacing: 0.1em;
            display: none;
        }

        >.optional-text[data-visible="true"] {
            display: inline;
        }
    }
}

.event-description-container {
    place-self: center;
    margin-bottom: 0.25em;
    margin-top: 0.15em;
    padding-inline: 2ch;
    text-align: center;
    text-wrap: balance;
    letter-spacing: 0.05em;
    font-size: clamp(0.75rem, 0.1467rem + 2.6087vw, 1.125rem);
}

.hidden-title {
    position: absolute;
    left: -100000px;
    overflow: hidden;

}

/* Navbar */
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: fit-content;
    background-color: var(--calPolyGreen100);
    width: 100%;

    >ul {
        z-index: 10;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "Home Events Menu Gallery Crew";
        overflow: visible;
        margin: 0.5em 0;

        >li {
            list-style: none;
            text-align: center;

            >a {
                text-decoration: none;
                color: var(--arylideYellow100);
                font-family: SunnySpells;
                font-size: 18px;
                letter-spacing: 1.5px;
                text-transform: uppercase;

                >.nav-icon {
                    font-size: 38px;
                    fill: currentColor;
                }

                &[aria-current="page"] {
                    .nav-icon {
                        filter: drop-shadow(1px 1px 4px hsla(49, 74%, 54%, 0.45));
                    }

                    >p {
                        text-shadow: 1px 1px 4px hsl(49, 74%, 54%, 0.45);
                    }
                }
            }

            &:nth-child(1) {
                grid-area: Home;
            }

            /* second button */
            &:nth-child(2) {
                grid-area: Events;
            }

            /* third button */
            &:nth-child(3) {
                grid-area: Menu;
            }

            /* fourth button */
            &:nth-child(4) {
                grid-area: Gallery;
            }

            /* fifth button */
            &:nth-child(5) {
                grid-area: Crew;
            }

        }
    }
}

/* Menu Page */
.menu-header {
    position: relative;
    max-width: 100vw;
    overflow: clip;

    >img {
        filter: drop-shadow(3px 2px 4px hsla(0, 0%, 0%, 0.25));
        width: 100%;
    }
}

.sub-title-container {
    font-family: SunnySpells;
    margin-inline: 0.5em;
    margin-block: 0.8em;
    letter-spacing: 1px;
    background-color: var(--arylideYellow100);
    padding-inline: 0.4em;
    border-radius: 15px;
    transform: rotate(-1.25deg);
    text-align: center;
    box-shadow: 3px 2px 4px hsla(0, 0%, 0%, 0.25);

    >h2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    >p {
        font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
        margin-inline: 1em;
        text-transform: uppercase;
        text-wrap: balance;

    }
}

.daily-menu-parent-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 0.5em;
    margin-inline: 0.5em;
}

.menu-day-container {
    box-sizing: border-box;
    background-color: hsl(210 47% 74%);
    border-radius: 15px;
    font-family: SunnySpells;
    color: var(--offWhite);
    text-shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.5);
    letter-spacing: 1.2px;
    line-height: 1em;
    box-shadow: 2px 4px 8px hsla(0, 0%, 0%, 0.35), inset 0 0 8px hsl(210, 47%, 74%);
    display: grid;
    grid-template-rows: 1fr 1.15fr;
    overflow: clip;
    gap: 0.25em;

    .date-bar {
        background-color: var(--blueGray100);
        border-radius: 0 0 8px 8px;
        box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        font-family: SunnySpells;
        padding-block: 0.5em;
        display: grid;
        gap: 0.25em;

        >p {
            font-size: 64px;
            justify-self: center;
        }
    }

    .daily-menu {
        display: flex;
        flex-flow: column wrap;
        margin-inline: 0.5em;
        margin-block: 0.25em;
        font-size: 16px;
        color: var(--pureBlack);

        >ul {
            font: inherit;
            text-transform: capitalize;
            letter-spacing: 2px;
            text-shadow: 1px 2px 3px hsla(0, 0%, 55%, 0.234);
        }

        >h3 {
            text-shadow: 0 0 3px hsla(0, 0%, 40%, 0.4515);
            font: inherit;
            text-transform: uppercase;
            font-size: 18px;
        }
    }

    & li {
        /* list-style: none; */
        margin-inline-start: 1.25em;
        text-transform: capitalize;
    }
}

/* Gallery Page */
.gallery-header {
    position: relative;
    max-width: 100vw;
    overflow: clip;
    display: grid;

    >img {
        filter: drop-shadow(3px 2px 4px hsla(0, 0%, 0%, 0.25));
        width: 100%;
    }
}

.gallery-intro-container {
    font-family: SunnySpells;
    margin-inline: 0.5em;
    margin-block: 0.8em;
    letter-spacing: 1px;
    background-color: var(--arylideYellow100);
    padding-inline: 0.4em;
    border-radius: 15px;
    transform: rotate(-1.25deg);
    box-shadow: 3px 2px 4px hsla(0, 0%, 0%, 0.25);
    text-align: center;

    >h2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    >p {
        font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
        margin-inline: 0.2em;
        margin-bottom: 0.2em;
        text-transform: uppercase;
        text-wrap: balance;

    }
}

.gallery-container {
    width: 100%;
    display: grid;
    place-content: center;
}

.masonry-gallery {

    .gallery-item {
        aspect-ratio: auto;
        min-width: 150px;
        max-width: 179px;
        margin-bottom: 10px;
        border-radius: 1rem;
        box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.5);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.75);
    overflow: auto;
}


.left-arrow,
.right-arrow {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.bx-x-circle {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.modal-content {
    margin-inline: auto;
    display: grid;
    place-items: center;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
    aspect-ratio: auto;
    max-height: 98dvh;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.5);
}


/* About Page */
.about-header {
    position: relative;
    max-width: 100vw;
    overflow: clip;
    display: grid;

    >img {
        filter: drop-shadow(3px 2px 4px hsla(0, 0%, 0%, 0.25));
        width: 100%;
    }
}

.staff-container {
    margin-top: 2em;
    display: grid;
    justify-content: center;
    padding-inline: 1em;
    gap: 1.25em;
}

.staff-card {
    display: grid;
    place-content: start;
    padding: 1em;
    border-radius: 20vw;
    background-color: var(--blueGray100);
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.5);
    grid-template-columns: minmax(80px, 30%) 70%;
    border: 4px solid var(--indianRed100);
    border-left-width: 5px;
    border-right-width: 5px;
    height: 183px; /* Initial height */
    min-height: 183px;
    max-width: 500px;
    overflow: hidden; /* Change overflow to hidden */
    grid-template-areas: 
        "img name" 
        "img info" 
        "arrow arrow";

    .staff-img-container {
        grid-area: img;
        padding: 0.75rem;
        display: grid;
        place-content: center;
        transform: translateY(6px);

        > img {
            aspect-ratio: auto;
            width: 100%;
            max-width: 120px;
            border-radius: 50%;
            box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.5);
            border: 4px solid var(--indianRed100);
        }
    }

    .staff-name {
        grid-area: name;
        align-self: start; /* Align at the top */
        font-family: Boogaloo, sans-serif;
        font-size: clamp(1.125rem, 0.5217rem + 2.6087vw, 1.5rem);
        text-transform: capitalize;
        margin-bottom: 0.15em;
        transform: rotate(-2deg);
    }

    .staff-info-container {
        grid-area: info;
        font-family: Boogaloo, sans-serif;
        display: grid;
        overflow: hidden; /* Change overflow to hidden */
        height: auto; /* Let it grow naturally */

        > .staff-description {
            font-size: 15px;
            grid-area: description;
            max-width: 90%;
            padding-inline-end: 0.25rem;
            margin-block: 0.25em;
            text-align: center;
        }
    }

    > .expand-arrow {
        grid-area: arrow;
        position: relative;
        text-align: center;
        width: min-content;
        height: 12px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.75rem;
        cursor: pointer;
        color: var(--indianRed100);

        > i {
            transition: rotate 400ms ease-in-out;
        }
    }

    .flip-arrow > i {
        rotate: 180deg;
    }

    &[data-expanded="true"] {
        height: auto; /* Allow height to expand to fit content */

        .staff-info-container {
            height: auto; /* Allow natural height */
        }
    }
}

/* Fonts */
@font-face {
    font-family: SunnySpells;
    src: url(Fonts/SunnyspellsRegular-MV9ze.otf);
}

/****** APPLE SAFARI SPECIFIC STYLING ******/
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {

    .title {

        text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.25) !important;
    }

    .sign-buttons {
        text-shadow: 1px 2px 0 hsla(13, 18%, 48%, 0.75) !important;
    }

    .event-date-container {}

    .navigation {

        >ul {

            >li {

                >a {

                    &[aria-current="page"] {

                        >p {
                            text-shadow: 1px 1px 4px hsl(49, 74%, 54%, 0.45);
                        }
                    }
                }
            }
        }
    }

    .menu-title {
        text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.3) !important;
    }

    .date-bar {

        >h3 {
            text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.25) !important;
        }

        >p {
            text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.5) !important;
        }
    }

    .daily-menu {
        >ul {
            text-shadow: 1px 2px 3px hsla(0, 0%, 55%, 0.4);
        }

        >h3 {
            text-shadow: 0 0 3px hsla(0, 0%, 40%, 0.4515);
        }
    }

    .gallery-title {
        text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.25) !important;
    }

    .about-title {
        text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.25) !important;
    }
}